!!! 5
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %title
      = html_title
    %link{:href => "favicon.ico", :rel => "shortcut icon", :type => "image/vnd.microsoft.icon"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    = stylesheet_link_tag "buergerstiftung", media: "all"
    :css
      html, body {
        height: 100%;
      }

      .home {
        height: calc(100% - 180px);
      }
    = csrf_meta_tags
    :javascript
      //<![CDATA[
      if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
          var msViewportStyle = document.createElement("style");
          msViewportStyle.appendChild(
              document.createTextNode("@-ms-viewport{width:auto!important}")
          );
          document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
      }
      //]]>
    %meta{:content => "true", :name => "HandheldFriendly"}/
    %meta{:content => "YES", :name => "apple-mobile-web-app-capable"}/
    / Le HTML5 shim and media query for IE8 support
    /[if lt IE 9]
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>

    = render :partial => '/layouts/ganalytics'
  %body
    = render partial: '/layouts/header'
    .home
      %iframe{ id: "map_iframe", src: "" }
    :javascript
      var hash = window.location.hash;
      var iframe = document.getElementById('map_iframe');
      if (iframe) {
        iframe.src = "/map/"+hash;
      }
